[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/pack/my-plugins/start/goyo.vim"]
	path = vim/pack/my-plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/pack/my-plugins/start/seoul256.vim"]
	path = vim/pack/my-plugins/start/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "vim/pack/plugin/start/vim-tmux-navigator"]
	path = vim/pack/plugin/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/tpope/start/vim-commentary"]
	path = vim/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/pack/thirdparty/start/vimoutliner"]
	path = vim/pack/thirdparty/start/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "vim/pack/reedes/start/vim-pencil"]
	path = vim/pack/reedes/start/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "vim/pack/tpope/start/vim-surround"]
	path = vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
